.login-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: auto;
}

input:focus {
    outline: none;
}

.login-text-box {
    background-color: rgb(243, 235, 235);
    border: none;
    padding: 6px;
}

.no-account {
    border-radius: 16px;
    padding: 8px;
    margin: 8px;
    width: 400px;
}

.no-account p {
    font-size: 15px;
}

.no-account a {
    text-decoration: none;
}

.login-greeting {
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: Georgia, serif;
}

.error-msg {
    border-radius: 16px;
    font-size: 18px;
    font-weight: bold;
    padding-top: 10px;
    margin-top: 10px;
}

.login-form {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.log-options-wrapper {
    display: flex;
    justify-content: center;
    gap: 16px;
}

.home-log-option {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 250px;
}

.btn.btn-primary.arrow-button {
    font-size: 36px;
    width: 80px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.goal-form {
    display: flex;
    flex-direction: column;
}

.goal-form-wrapper {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-bottom: 8px;
}

.height-goal-box {
    width: 60px;
}

.unit-swap-wrapper {
    width: 200px;
    padding: 4px;
}

.weight-log {
    width: 600px;
}

.bmi-visualizer {
    display: flex;
    height: 100px;
}