.login-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: auto;
}

input:focus {
    outline: none;
}

.login-text-box {
    background-color: rgb(243, 235, 235);
    border: none;
    padding: 6px;
}

.no-account {
    border-radius: 16px;
    padding: 8px;
    margin: 8px;
    width: 400px;
}

.no-account p {
    font-size: 15px;
}

.no-account a {
    text-decoration: none;
}

.login-greeting {
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: Georgia, serif;
}

.error-msg {
    border-radius: 16px;
    font-size: 18px;
    font-weight: bold;
    padding-top: 10px;
    margin-top: 10px;
}

.login-form {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.log-options-wrapper {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 16px;
}

.home-log-option {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 250px;
}

.btn.btn-primary.arrow-button {
    font-size: 36px;
    width: 80px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.goal-form {
    display: flex;
    flex-direction: column;
}

.goal-form-wrapper {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-bottom: 8px;
}

.height-goal-box {
    width: 60px;
}

.unit-swap-wrapper {
    width: 200px;
    padding: 4px;
}

.weight-log {
    width: 600px;
}

.bmi-info-wrapper {
    display: flex;
    justify-content: center;
}

.bmi-info {
    display: flex;
    flex-direction: column;
    width: 1000px;
    text-align: center;
}

.bmi-visualizer {
    display: flex;
    justify-content: center;
    height: 100px;
}

#bmi-category-span {
    font-weight: bold;
}

.page-title-header {
    text-align: center;
}

.goal-weight-container {
    display: flex;
    justify-content: center;
    gap: 8px;
    margin: 32px 0 32px 0;
}

.goal-weight-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 3px solid black;
    border-radius: 8px;
    padding: 16px;
    width: 200px;
    height: 100px;
    background-color: #cff4fc;
    color: #0d63fd;
}

.goal-weight-box-head {
    font-size: 32px;
    font-weight: bold;
}

.goal-weight-log-entry {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 32px;
}

.goal-weight-log-entry span {
    font-size: 22px;
}

.weight-log table {
    border: 1px solid black;
}

.weight-log-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

body {
    user-select: none;
}

.new-goal-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.new-goal-form {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.new-goal-form button {
    width: 120px;
}

.new-goal-div textarea {
    resize: none;
    outline: none;
  }

.user-goal-div {
    display: flex;
    flex-direction: column;
    width: 60%;
}

.goal-title-div {
    background-color: #0d63fd;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    padding: 4px;
    word-wrap: break-word;
}

.goal-desc-div {
    background-color: rgb(146, 201, 247);
    padding: 4px 4px 0px;
    word-wrap: break-word;
}

.user-goals {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    padding-bottom: 32px;
}

.goal-options {
    background-color: rgb(146, 201, 247);
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    display: flex;
    justify-content: flex-end;
}

.btn.btn-primary.delete-goal {
    font-size: 8px;
}

.goal-title-div h5, p {
    font-family: Georgia, serif;
    margin-top: 6px;
    margin-left: 6px;
}

.goal-title-div h5 {
    color: white;
}

body h1 {
    display: flex;
    justify-content: center;
}

.weight-log-btn {
    font-size: 16px;
    background: none;
    border: none;
}

.weight-log-form {
    display: inline;
}

.weight-log-options-td {
    width: 1%;
    white-space: nowrap;
}