{% extends "layout.html" %}

{% block header %}
    <h1>{% block title %}Home{% endblock %}</h1>
{% endblock %}

{% block body %}
    <h1>Welcome, {{ user }}</h1>
    <br>
    <p>What would you like to log today?</p>
    <div class="log-options-wrapper">
        <div class="home-log-option">
            <h2>Exercise</h2>
            <p>Track your exercise to see if you're on track to hitting your goals</p>
            <button type="button" class="btn btn-primary arrow-button">&#8594;</button>
        </div>
        <div class="home-log-option">
            <h2>Weight</h2>
            <p>Track your weight over time to find out trends in your progress</p>
            <button type="button" class="btn btn-primary arrow-button">&#8594;</button>
        </div>
        <div class="home-log-option">
            <h2>Free Entry</h2>
            <p>Log about anything that comes to mind</p>
            <button type="button" class="btn btn-primary arrow-button">&#8594;</button>
        </div>
    </div>
{% endblock %}