{% extends "layout.html" %}

{% block header %}
    <h1>{% block title %}Home{% endblock %}</h1>
{% endblock %}

{% block body %}
    <h1>Welcome, {{ user }}</h1>
    <br>
    <p style="display: flex; justify-content: center;">What would you like to log today?</p>
    <div class="log-options-wrapper">
        <div class="home-log-option">
            <h2>Goals</h2>
            <p>Set goals that are important to you</p>
            <form action="/goals" method="get">
                <button type="submit" class="btn btn-primary arrow-button">&#8594;</button>
            </form>
        </div>
        <div class="home-log-option">
            <h2>Exercise</h2>
            <p>Track your exercise to see if you're on track to hitting your goals</p>
            <form action="/exercise" method="get">
                <button type="submit" class="btn btn-primary arrow-button">&#8594;</button>
            </form>
        </div>
        <div class="home-log-option">
            <h2>Weight</h2>
            <p>Track your weight over time to find out trends in your progress</p>
            <form action="/weight" method="get">
                <button type="submit" class="btn btn-primary arrow-button">&#8594;</button>
            </form>
        </div>
        <div class="home-log-option">
            <h2>Free Entry</h2>
            <p>Log about anything that comes to mind</p>
            <form action="/diary" method="get">
                <button type="submit" class="btn btn-primary arrow-button">&#8594;</button>
            </form>
        </div>
    </div>
{% endblock %}