{% extends "layout.html" %}

{% block header %}
    <h1>{% block title %}Login{% endblock %}</h1>
{% endblock %}

{% block body %}
        <div class="container-fluid login-greeting">
            <h1>Tracker</h1>
            <p>The easy way to track your goals</p>
        </div>
        <div class="container-fluid login-box">
            <form class="login-form" method="post" action="/login">
                <input class="login-text-box" type="text" placeholder="username" autofocus name="username"><br>
                <br>
                <input class="login-text-box" type="password" placeholder="password" name="password"><br><br>
                <button class="btn btn-primary" type="submit">LOGIN</button>
            </form>
            {% if errormsg %}
                <div class="container-sm bg-danger error-msg">
                    <p>{{ errormsg }}</p>
                </div>
            {% endif %}
            <div class="no-account">
                <p>No account? <a href="{{url_for('register')}}">Register</a> today to see how Tracker can help improve your life
                    by tracking your goals.</p>
            </div>
        </div>
{% endblock %}