{% extends "layout.html" %}

{% block header %}
    <h1>{% block title %}Weight{% endblock %}</h1>
{% endblock %}

{% block body %}
    <h1 class="page-title-header">Weight Log - {{ user }} </h1>
    {% if weight_goals %}
        <div class="goal-weight-container">
            <div class="goal-weight-box">
                <span class="goal-weight-box-head">Current</span>
                <span>{{ new_weight_log[0][1] }} {{units.weight_unit}}</span>
            </div>
            <div class="goal-weight-box">
                <span class="goal-weight-box-head">Goal</span>
                <span>{{ weight_goals.goal_weight }} {{ units.weight_unit }}</span>
            </div>
            <div class="goal-weight-box">
                {% if (weight_goals.goal_direction > 0) %}
                    <span class="goal-weight-box-head">Gain</span>
                {% elif (weight_goals.goal_direction < 0) %}
                    <span class="goal-weight-box-head">Lose</span>
                {% endif %}
                <span>{{ weight_goals.goal_step }} {{ units.weight_unit }} per week</span>
            </div>
            <div class="goal-weight-box">
                <span class="goal-weight-box-head">Left</span>
                <span>{{ new_weight_log[0][1] - weight_goals.goal_weight }} {{ units.weight_unit }}</span>
            </div>
            <div class="goal-weight-box">
                <span class="goal-weight-box-head">Time</span>
                <span>{{ ((new_weight_log[0][1] - weight_goals.goal_weight) / weight_goals.goal_step) | int }} weeks</span>
            </div>
        </div>
        {% if errormsg %}
            <div class="container-sm bg-danger error-msg">
                <p>{{ errormsg }}</p>
            </div>
        {% endif %}
        <div class="goal-weight-log-entry">
            <span>Log Weight</span>
            <form action="/weight/log" method="post">
                <input type="text" placeholder="your current weight" autocomplete="off" name="weight-entry">
                <button type="submit" class="btn btn-primary">Log</button>
            </form>
        </div>
        <div class="weight-stats">

        </div>
        <div class="weight-log-wrapper">
            <h1 class="goal-weight-box-head">My Log</h1>
            <div class="weight-log">
                <table class="table table-info table-striped table-hover">
                    <tr>
                        <th>Weight ({{ units.weight_unit }})</th>
                        <th>BMI</th>
                        <th>Date</th>
                        <th>Time</th>
                        <th></th>
                    </tr>
                    {% for entry in new_weight_log %}
                    <tr>
                        <td>{{ entry[1] }}</td>
                        <td>{{ entry[4] }}</td>
                        <td> {{ entry[2] }}</td>
                        <td>{{ entry[3] }}</td>
                        <td><span>&#9998;</span><span>&#128465;</span></td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    {% endif %}
    <div class="bmi-info-wrapper">
        <div class="bmi-info">
            <span id="bmi-category-span"></span>
            <span>Your current BMI is <em>{{ new_weight_log[0][4] }}</em>. Your BMI is shown as a line below
                relative to the BMI categories. Ideally, your BMI should be within the 18-25 range.
                However, BMI does not account for percentage of muscle vs. body fat, so may be inaccurate
                in some cases.
            </span>
        </div>
    </div>
    <div class="bmi-visualizer">
    </div>
<script src="{{ url_for('static', filename='weight_log.js') }}"></script>
<script type="text/javascript">
    current_bmi = '{{ new_weight_log[0][4] }}';
    renderBMIScale(current_bmi);
</script>
{% endblock %}